body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0074d9;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #0074d9;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}

code {
    font-family: Consolas, monospace;
}